.webform-component-address-postal-code,
.webform-component-address-house-number,
.webform-component-address-house-letter,
.webform-component-address-house-number-addition,
.webform-component-address-po-box {
  float: left;
  padding-right: 0.8em;
}
.webform-component-address-street-name,
.webform-component-address-city {
  clear: left;
}
.webform-component-address-block {
  clear: left;
  margin-top: 2em;
}
[class*="webform-component-address"] {
  position: relative;
}

[class*="webform-component-address"] .ajax-progress {
  position: absolute;
  display: block;
  right: .9em; /* padding-right + .1em extra padding */
  bottom: .5em;
}

/* hide it, but not for screenreaders */
[class*="webform-component-address"] .ajax-progress .message {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}
